.main{
    display: flex;
    justify-content: center;
    align-items: center;

 
}
.jobListMain{
  gap: 50px;
  display: flex;
  flex-direction: column;
}
.jobIteam {


  width: 799px;
  height: 600px;
  border: solid 1px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(155, 153, 153);
}
.titleBox {
  width: 100%;
  height: 70px;
  background: #ffffff;
  margin-top: 20px;
  text-align: start;
  border-radius: 10px;

  
}
.titleBox input{
  border: none;
}

.EmjobList {
  margin-top: 50px;


 
  width: 100%;

  display: flex;
  justify-content: space-around;



}
.jobSection{
    width: 350px;
    height: 90px;
border: solid 1px;
background:  #1F273A;
border-radius: 10px;



}
.jobContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;


  
}
.jobSection h6  {
   
  color: rgb(255, 255, 255);
  text-align: center;



}
.jobSection option{
    background: #1F273A;
    color: rgb(250, 249, 247);
    border: none;
}

select {


    border: 2px solid #fcfdfe; /* Change border color here */
    border-radius: 4px; /* Optional: Add rounded corners */
    transition: border-color 0.3s; /* Optional: Add transition for smooth change */
  }
  
  select:focus {
    outline: none;
    border-color: #ffffff; /* Change border color on focus */
  }
  .submitButn button{
    width: 100%;
    height: 50px;
    background: #060135;
    color: rgb(255, 255, 255);
    border:none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(155, 153, 153);
    transition: background-color 0.3s ease;
  }
  
  .submitButn :hover {
  background-color: #1570d2;
}


/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .jobIteam {
    overflow: hidden;
    width: 100%;
    height: auto; /* Adjust height for better mobile view */
  }

  .EmjobList {
    flex-direction: column;
    gap: 20px; /* Added gap for better spacing */
  
  }

  .jobSection {
    width: 100%;
    height: auto; /* Adjust height for better mobile view */
  }
 
}


@media (max-width: 480px) {
  .main {
    padding: 10px; /* Adjusted padding for smaller mobile view */
  }

  .jobIteam {
    padding: 10px; /* Adjusted padding for better content spacing */
  }

  .jobSection {
    padding: 5px; /* Adjusted padding for better content spacing */
  }

  .submitButn button {
    max-width: 100%; /* Adjusted max-width for better mobile view */
  }
}