.portalRegister{

 
    display: flex;
  align-items: center;
  justify-content: center;



}
  .RegisterList{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    width: 400px;
   





  }
  .portalsubmit{
    border: none;
    width: 100%;
    padding: 10px;background: #2c32d4;
    cursor: pointer;
    color: wheat;
    font-weight: bold;
  }
  .portalIteamList{


  }