.job-history {
  display: flex;
  flex-wrap: wrap;
  background-color: #1F273A;
  padding: 20px;
  border: 1px solid #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  margin: 20px auto;
  max-height: 640px; /* Set a maximum height for the container */
  overflow-y: auto; /* Add vertical scrolling when content exceeds max-height */
}

.DeleteBtn {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background: #0f0b31;
  color: wheat;
  font-weight: bold;
}

.DeleteBtn:hover {
  background: #dd0606;
}

.job-history h2 {
  margin-bottom: 10px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.job-history ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.job-history li {
  width: calc(33.33% - 60px); /* Adjust width based on desired spacing */
  margin-bottom: 20px;
  padding: 10px;
  background-color: #1F273A;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.job-history li h3 {
  margin-bottom: 5px;
  color: #ffffff;
}

.job-history p {
  margin: 5px 0;
  color: #ece9e9;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .job-history li {
    width: calc(50% - 40px); /* Adjust width for larger screens */
  }
}

@media (max-width: 768px) {
  .job-history li {
    width: calc(50% - 20px); /* Adjust width for medium screens */
  }
}

@media (max-width: 576px) {
  .job-history li {
    width: 100%; /* Full width for small screens */
    margin-bottom: 10px;
  }
}
